<!-- Card For Sending Config Updates to Device -->
<ion-card>
    <ion-card-header>
        <ion-card-title>Device Settings</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ion-list inset=true>
            <ion-item>
                <ion-label position="floating">Tilt Threshold</ion-label>
                <ion-range dualKnobs="true" [(ngModel)]="tempSetting" pin="true" min="-100" max="100" color="primary">
                    <ion-icon color="primary" size="small" slot="start" name="arrow-dropdown"></ion-icon>
                    <ion-icon color="primary" size="medium" slot="end" name="arrow-dropup"></ion-icon>
                </ion-range>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">
                    lower: {{tempSetting ? tempSetting.lower : -20}}
                </ion-label>
                <ion-label position="fixed">
                    upper: {{tempSetting ? tempSetting.upper : 20}}
                </ion-label>
            </ion-item>
            <ion-item class="error-text">
                {{errorDisplay}}
            </ion-item>
            <ion-item>
                <ion-button size="default" [disabled]=updateDisabled (click)="updateConfig()">
                    <ion-item *ngIf=!updateDisabled>Update</ion-item>
                    <ion-item *ngIf=updateDisabled>
                        <ion-item>Updating&nbsp;</ion-item>
                        <ion-spinner name="crescent"></ion-spinner>
                    </ion-item>
                </ion-button>
            </ion-item>

        </ion-list>
    </ion-card-content>
</ion-card>