<!-- Card For Sending Config Updates to Device -->
<ion-card>
    <ion-card-header>
        <ion-card-title>Device Configuration</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ion-list>
            <ion-item>
                <ion-label>Temperature Threshold</ion-label>
                <ion-range dualKnobs="true" [(ngModel)]="tempSetting" pin="true" min="-200" max="200" color="secondary">
                    <ion-label slot="start">-30</ion-label>
                    <ion-label slot="end">150</ion-label>
                </ion-range>
            </ion-item>
            <ion-item>
                lower: {{tempSetting.lower}}
            </ion-item>
            <ion-item>
                upper: {{tempSetting.upper}}
            </ion-item>
            <ion-item>
                <ion-button [disabled]=updateDisabled (click)="updateConfig()">Update</ion-button>
            </ion-item>

        </ion-list>
    </ion-card-content>
</ion-card>