<!-- Modal created when "Add Device" button clicked -->
<ion-header>
    <ion-toolbar color="primary">
        <ion-title *ngIf="!device">Claim Device</ion-title>
        <ion-title *ngIf="device">Update {{ device.id }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <form [formGroup]="deviceForm" (ngSubmit)="createDevice()">

        <ion-item>
            <ion-label class="item item-input">Claim Code</ion-label>
            <ion-input formControlName="deviceId" type="text" placeholder="id"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label class="item item-input">Nickname</ion-label>
            <ion-input formControlName="deviceNickname" type="text" placeholder="device"></ion-input>
        </ion-item>

        <!--

        <ion-label>tags</ion-label>
        <ion-textarea formControlName="tag" type="tag" placeholder="other" rows="1"></ion-textarea>

        

        <ion-label>Status</ion-label>
        <ion-list>
            <ion-radio-group formControlName="status">

                <ion-item>
                    <ion-label>Pending</ion-label>
                    <ion-radio slot="start" value="pending" checked></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Complete</ion-label>
                    <ion-radio slot="start" value="complete"></ion-radio>
                </ion-item>

            </ion-radio-group>
        </ion-list>

    -->

        <div class="error-text">{{errorDisplay}}</div>

        <ion-button [disabled]="deviceForm.invalid" type="submit">{{ device ? 'Claim' : 'Claim' }}</ion-button>
    </form>




</ion-content>