<!-- Modal created when "Add Device" button clicked -->
<ion-header>
    <ion-toolbar color="primary">
        <ion-title *ngIf="!device">Claim Device</ion-title>
        <ion-title *ngIf="device">Update {{ device.id }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <form [formGroup]="deviceForm" (ngSubmit)="createDevice()">

        <ion-item>
            <ion-label class="item item-input">Claim Code</ion-label>
            <ion-input formControlName="deviceId" type="text" placeholder="id"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label class="item item-input">Nickname</ion-label>
            <ion-input formControlName="deviceNickname" type="text" placeholder="device"></ion-input>
        </ion-item>

        <div class="error-text">{{errorDisplay}}</div>

        <ion-button [disabled]="deviceForm.invalid" type="submit">{{ device ? 'Claim' : 'Claim' }}</ion-button>
        <ion-button (click)="dismissModal()">Cancel</ion-button>
    </form>




</ion-content>