<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide></ion-menu-button>
        </ion-buttons>

        <ion-title>Devices</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-row>
        <ion-col size-lg="6" offset-lg="3">
            <ion-card>
                <ion-segment (ionChange)="updateFilter($event.detail.value)">
                    <ion-segment-button value="" checked>
                        Claimed
                    </ion-segment-button>
                    <!--  Disabling this part for now since there is no info for online/offline -->
                    <!--
        <ion-segment-button value="complete">
            Online
        </ion-segment-button>
        <ion-segment-button value="pending">
            Offline
        </ion-segment-button>
        -->
                </ion-segment>

                <ion-list>
                    <ion-item [href]="'device/' + device.id" *ngFor="let device of filtered | async; trackBy: trackById">
                        <ion-label>
                            <!-- <span ><a [href]="'device/' + device.id">{{ device.content }}</a></span> -->
                            <span>{{ device.deviceNickname }}</span>
                        </ion-label>



                        <ion-button (click)="releaseDevice($event, device)" color="white">
                            <ion-icon name="remove-circle" color="danger"></ion-icon> &nbsp; Release
                        </ion-button>
                    </ion-item>
                </ion-list>
            </ion-card>
        </ion-col>
    </ion-row>

    <!-- Add Device '+' Button -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentdeviceForm()">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>



</ion-content>