<ion-row>
  <ion-col size="auto">
    <ion-card class="chart-container">
      <ion-card-header>
        <ion-card-subtitle>Light Sensor Data</ion-card-subtitle>
        <ion-card-title>Current Value: {{currentLight}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas id='lightChart'></canvas>
      </ion-card-content>  
    </ion-card>
  </ion-col>
  <ion-col size="auto">
    <ion-card class="chart-container">
      <ion-card-header>
        <ion-card-subtitle>Temperature Sensor Data</ion-card-subtitle>
        <ion-card-title>Current Value: {{currentTemp}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas id='tempChart'></canvas>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>