<!-- Device Detail Page-->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>


    </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="device$ | async as device">
    <ion-row>
        <ion-col size-lg="6" offset-lg="3">
            <!-- Device Details Card -->
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Device Details</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-list inset=true>
                        <ion-item *ngFor="let prop of device | keyvalue">
                            <strong>{{ prop.key }}</strong>: {{ prop.value }}
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
            <!-- Device Metric Charts Card -->
            <app-device-chart [deviceId]="device.id"></app-device-chart>
            <!-- Update Device Settings Card -->
            <app-settings></app-settings>
        </ion-col>

    </ion-row>



</ion-content>