[Unit]
Description=demo-device
[Service]
User=root
Group=root
# WorkingDirectory=/opt/bootcamp
ExecStart=/home/pi/device/demo/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
